#  Examen

## 1) Crea un Dataframe de 10 registros y 6 columnas y consigue las 5 primeros y los 5 ultimos registros

In [32]:
import pandas as pd
import numpy as np

#Suponiendo que con registros se refiere a filas
arr_1 = np.random.randint(10, size=60).reshape(10,6)
df1 = pd.DataFrame(arr_1)
print(df1.head(5))
print('\n')
print(df1.tail(5))

   0  1  2  3  4  5
0  1  0  6  9  2  3
1  0  4  8  4  5  5
2  1  1  4  6  7  9
3  0  2  3  8  3  6
4  9  9  9  4  0  4


   0  1  2  3  4  5
5  9  8  9  6  6  4
6  2  8  5  0  1  3
7  4  3  6  0  2  7
8  6  1  7  1  7  9
9  2  7  7  5  9  5

## 2) Crear un dataframe pasando un arreglo de numpy de 6 x 4 con una fecha como indice y con columnas A, B, C, D randomico


```
                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988
```

In [40]:
from datetime import date
from datetime import datetime

today = date.today()
arr_2 = np.random.rand(24).reshape(6,4)
df2 = pd.DataFrame(arr_2)
df2.index = [today, today, today, today, today, today]
df2.columns = ['A','B','C','D']
print(df2)

                   A         B         C         D
2020-09-22  0.620410  0.892135  0.293883  0.311198
2020-09-22  0.653631  0.172334  0.367259  0.473966
2020-09-22  0.989276  0.681793  0.381412  0.803936
2020-09-22  0.629985  0.630059  0.406906  0.791618
2020-09-22  0.313430  0.737851  0.555180  0.611702
2020-09-22  0.153875  0.623816  0.690516  0.447748

## 4) Crear un Dataframe con 10 registros y 6 columnas y con una propiedad del Dataframe mostrar las columnas, con otro comando mostrar los valores.

In [44]:
#Suponiendo que con registros se refiere a filas
arr_3 = np.random.randint(10, size=60).reshape(10,6)
df3 = pd.DataFrame(arr_3)
print(df3.columns.tolist())
print('\n')
print(df3.index.tolist())

[0, 1, 2, 3, 4, 5]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 5) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe describir estadisticamente el Dataframe

In [46]:
#Suponiendo que con registros se refiere a filas
arr_3 = np.random.randint(10, size=60).reshape(10,6)
df3 = pd.DataFrame(arr_3)

# No entendi muy bien a lo que se refiere con describir estadisticamente pero use la funcion describe
df3.describe()

               0          1          2          3          4          5
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    5.100000   4.700000   4.100000   4.000000   4.500000   5.000000
std     2.998148   2.496664   2.514403   2.708013   3.205897   2.708013
min     1.000000   0.000000   0.000000   0.000000   1.000000   1.000000
25%     2.500000   4.000000   2.500000   2.250000   2.250000   3.000000
50%     5.500000   6.000000   4.500000   4.000000   3.000000   5.500000
75%     7.750000   6.000000   5.000000   5.000000   7.750000   7.000000
max     9.000000   8.000000   8.000000   9.000000   9.000000   9.000000

## 6) Crear un Dataframe con 10 registros y 6 columnas y con una funcion del Dataframe transponer los datos

In [48]:
arr_3 = np.random.randint(10, size=60).reshape(10,6)
df3 = pd.DataFrame(arr_3)
print(df3)
print('\n')
print(df3.T)

   0  1  2  3  4  5
0  5  7  4  8  0  3
1  2  2  1  3  1  7
2  6  1  2  1  6  4
3  0  7  1  3  0  9
4  6  2  7  2  2  3
5  8  7  4  0  7  7
6  2  8  2  0  6  5
7  2  6  4  3  0  8
8  7  9  5  3  6  6
9  8  8  2  0  3  9


   0  1  2  3  4  5  6  7  8  9
0  5  2  6  0  6  8  2  2  7  8
1  7  2  1  7  2  7  8  6  9  8
2  4  1  2  1  7  4  2  4  5  2
3  8  3  1  3  2  0  0  3  3  0
4  0  1  6  0  2  7  6  0  6  3
5  3  7  4  9  3  7  5  8  6  9

## 7) Crear un Dataframe con 10 registros y 6 columnas y Ordenar el dataframe 1 vez por cada columna, ascendente y descendente

In [56]:
arr_3 = np.random.randint(10, size=60).reshape(10,6)
df3 = pd.DataFrame(arr_3)
df3.columns = ['A','B','C','D','E','F']

df3.sort_values('A',ascending=False)
df3.sort_values('B',ascending=False)
df3.sort_values('C',ascending=False)
df3.sort_values('D',ascending=False)
df3.sort_values('E',ascending=False)
df3.sort_values('F',ascending=False)

df3.sort_values('A',ascending=True)
df3.sort_values('B',ascending=True)
df3.sort_values('C',ascending=True)
df3.sort_values('D',ascending=True)
df3.sort_values('E',ascending=True)
df3.sort_values('F',ascending=True)

#Solo se va a impriir la ultima ordenacion pero espero que se entienda la idea inge

   A  B  C  D  E  F
3  3  1  8  5  9  0
0  9  3  7  1  4  2
1  2  9  6  1  6  2
6  3  5  6  0  8  3
2  0  7  1  8  7  6
8  8  2  4  6  1  6
5  8  7  7  5  2  7
7  1  5  8  1  5  7
9  4  7  0  4  7  7
4  3  2  4  0  0  8

## 8) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y seleccionar en un nuevo Dataframe solo los valores mayores a 7

In [75]:
arr_4 = np.random.randint(10, size=60).reshape(10,6)
df4 = pd.DataFrame(arr_4)
df5 = df4 > 7
print(df4[df5])

    0   1    2    3    4    5
0 NaN NaN  NaN  NaN  8.0  NaN
1 NaN NaN  8.0  9.0  NaN  NaN
2 NaN NaN  NaN  9.0  NaN  NaN
3 NaN NaN  NaN  NaN  NaN  9.0
4 NaN NaN  NaN  9.0  8.0  NaN
5 NaN NaN  NaN  NaN  9.0  NaN
6 NaN NaN  NaN  8.0  NaN  NaN
7 NaN NaN  8.0  8.0  NaN  NaN
8 NaN NaN  NaN  9.0  8.0  NaN
9 NaN NaN  NaN  NaN  NaN  NaN

## 9) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 o valores NaN. Luego llenar los valores NaN con 0.

In [78]:
arr_4 = np.random.randint(10, size=60).reshape(10,6)
df4 = pd.DataFrame(arr_4)
df5 = df4[df4 > 2]
print(df5)
df5 = df5.fillna(0)
print('\n')
print(df5)

     0    1    2    3    4    5
0  7.0  9.0  3.0  6.0  NaN  NaN
1  3.0  9.0  8.0  NaN  NaN  NaN
2  NaN  5.0  6.0  3.0  3.0  NaN
3  NaN  9.0  4.0  3.0  4.0  7.0
4  4.0  3.0  9.0  NaN  4.0  3.0
5  3.0  5.0  NaN  3.0  3.0  7.0
6  NaN  4.0  NaN  8.0  NaN  NaN
7  NaN  NaN  3.0  7.0  5.0  NaN
8  3.0  8.0  6.0  3.0  8.0  NaN
9  NaN  5.0  3.0  7.0  9.0  NaN


     0    1    2    3    4    5
0  7.0  9.0  3.0  6.0  0.0  0.0
1  3.0  9.0  8.0  0.0  0.0  0.0
2  0.0  5.0  6.0  3.0  3.0  0.0
3  0.0  9.0  4.0  3.0  4.0  7.0
4  4.0  3.0  9.0  0.0  4.0  3.0
5  3.0  5.0  0.0  3.0  3.0  7.0
6  0.0  4.0  0.0  8.0  0.0  0.0
7  0.0  0.0  3.0  7.0  5.0  0.0
8  3.0  8.0  6.0  3.0  8.0  0.0
9  0.0  5.0  3.0  7.0  9.0  0.0

## 10) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y sacar la media, la mediana, el promedio

In [80]:
arr_4 = np.random.randint(10, size=60).reshape(10,6)
df4 = pd.DataFrame(arr_4)

print((df4.mean()))
print((df4.median()))
print((df4.std()))

0    4.9
1    5.8
2    5.0
3    3.2
4    5.0
5    4.7
dtype: float64
0    5.0
1    6.0
2    5.0
3    3.5
4    5.5
5    4.5
dtype: float64
0    2.998148
1    2.699794
2    1.943651
3    2.780887
4    3.162278
5    2.710064
dtype: float64

## 11) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10, luego crear otro dateframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 y anadirlo al primer Dataframe

In [82]:
arr_4 = np.random.randint(10, size=60).reshape(10,6)
df4 = pd.DataFrame(arr_4)

arr_5 = np.random.randint(10, size=60).reshape(10,6)
df5 = pd.DataFrame(arr_5)

print(df4.append(df5))

   0  1  2  3  4  5
0  5  5  8  2  7  9
1  4  7  6  5  1  2
2  0  7  9  4  6  8
3  5  5  6  7  0  0
4  5  1  4  2  9  7
5  7  7  3  3  0  6
6  5  8  8  4  2  6
7  5  0  5  2  8  2
8  5  3  7  7  7  6
9  2  6  0  2  3  5
0  3  5  8  2  8  2
1  6  9  7  2  0  4
2  8  8  8  2  5  2
3  9  0  9  5  5  7
4  5  7  9  9  6  8
5  6  2  6  0  4  7
6  3  4  9  7  1  4
7  3  2  3  4  8  2
8  5  3  9  7  4  2
9  0  4  2  0  0  8

## 12) Crear un Dataframe con 10 registros y 6 columnas llenas de strings. Luego, unir la columna 1 y 2 en una sola, la 3 y 4, y la 5 y 6 concatenando su texto.

In [101]:
path = "C://Users//Equipo//Documents//Gitkraken//py-vinueza-garcia-rafael-eduardo//03-pandas//data//artwork_data.csv"

columnas = ['id','artist','title','medium','year','acquisitionYear']
df6 =  pd.read_csv(
    path,
    nrows=10,
    usecols = columnas)

df6["1 + 2"] = df6["artist"] + " " + df6["title"]
df6["3 + 4"] = df6["medium"] + " " + str(df6["year"])
df6["5 + 6"] = str(df6["acquisitionYear"]) + " " + df6["title"]
print(df6)

     id          artist                                              title  \
0  1035   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  1036   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2  1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3  1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...
5  1040  Blake, William      Ciampolo the Barrator Tormented by the Devils
6  1041  Blake, William                        The Baffled Devils Fighting
7  1042  Blake, William  The Six-Footed Serpent Attacking Agnolo Brunel...
8  1043  Blake, William                 The Serpent Attacking Buoso Donati
9  1044  Blake, William                 The Pit of Disease: The Falsifiers

                                              medium    year  acquisitionYear  \
0  Watercolour, ink, chalk and graphite on paper....     NaN             1922
1                                  Graphite on paper     NaN             1922
2        Graphite on paper. Verso: graphite on paper  1785.0             1922
3                                  Graphite on paper     NaN             1922
4                            Line engraving on paper  1826.0             1919
5                            Line engraving on paper  1826.0             1919
6                            Line engraving on paper  1826.0             1919
7                            Line engraving on paper  1826.0             1919
8                            Line engraving on paper  1826.0             1919
9                            Line engraving on paper  1826.0             1919

                                               1 + 2  \
0  Blake, Robert A Figure Bowing before a Seated ...
1  Blake, Robert Two Drawings of Frightened Figur...
2  Blake, Robert The Preaching of Warning. Verso:...
3  Blake, Robert Six Drawings of Figures with Out...
4  Blake, William The Circle of the Lustful: Fran...
5  Blake, William Ciampolo the Barrator Tormented...
6         Blake, William The Baffled Devils Fighting
7  Blake, William The Six-Footed Serpent Attackin...
8  Blake, William The Serpent Attacking Buoso Donati
9  Blake, William The Pit of Disease: The Falsifiers

                                               3 + 4  \
0  Watercolour, ink, chalk and graphite on paper....
1  Graphite on paper 0       NaN\n1       NaN\n2 ...
2  Graphite on paper. Verso: graphite on paper 0 ...
3  Graphite on paper 0       NaN\n1       NaN\n2 ...
4  Line engraving on paper 0       NaN\n1       N...
5  Line engraving on paper 0       NaN\n1       N...
6  Line engraving on paper 0       NaN\n1       N...
7  Line engraving on paper 0       NaN\n1       N...
8  Line engraving on paper 0       NaN\n1       N...
9  Line engraving on paper 0       NaN\n1       N...

                                               5 + 6
0  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
1  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
2  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
3  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
4  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
5  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
6  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
7  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
8  0    1922\n1    1922\n2    1922\n3    1922\n4 ...
9  0    1922\n1    1922\n2    1922\n3    1922\n4 ...

## 13) Crear un Dataframe con 10 registros y 6 columnas llenas de números randomicos del 1 al 10 enteros, obtener la frecuencia de repeticion de los numeros enteros en cada columna

In [108]:
arr_4 = np.random.randint(10, size=60).reshape(10,6)
df4 = pd.DataFrame(arr_4)
df4[1].value_counts()
df4[2].value_counts()
df4[3].value_counts()
df4[4].value_counts()
df4[5].value_counts()
df4[2].value_counts()
df4[2].value_counts()
df4[2].value_counts()
df4[2].value_counts()
df4[2].value_counts()

8    2
4    2
7    1
6    1
5    1
3    1
1    1
0    1
Name: 2, dtype: int64

## 14) Crear un Dataframe con 10 registros y 3 columnas, A B C, llenas de números randomicos del 1 al 10 enteros. Crear una nueva columna con el calculo por fila (A * B ) / C

In [105]:
arr_4 = np.random.randint(10, size=30).reshape(10,3)
df4 = pd.DataFrame(arr_4)
df4.columns = ['A','B','C']