# Titulo 1
## Titulo 2

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [2]:
print("Hola Mundo")

Hola Mundo

In [3]:
print("Hola Mundo")

Hola Mundo

In [4]:
print("Hola Mundo")

Hola Mundo

In [10]:
## No tipado! (no declarar nunca el tipo de variable)
#Variables primitivas
entero = 4
decimales = 1.1
nombre = "Rafael"
segundo_nombre = "Eduardo" #No se usa camelCase
apellido = 'Vinueza'
casado = False
estudiante = True
hijos = None #Null
print(type(entero)) #int
print(type(decimales)) #float
print(type(nombre)) #string
print(type(segundo_nombre)) #string
print(type(apellido)) #string
print(type(casado)) #boolean
print(type(estudiante)) #boolean
print(type(hijos)) #none_type

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [6]:
cadena_de_texto = """
First ordered list item
Another item
Unordered sub-list.
Actual numbers don't matter, just that it's a number

Ordered sub-list

And another item.

You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).

To have a line break without a paragraph, you will need to use two trailing spaces.
Note that this line is separate, but within the same paragraph.
(This is contrary to the typical GFM line break behaviour, where trailing spaces are not required.)

Unordered list can use asterisks
Or minuses
Or pluses

"""
print(cadena_de_texto)

First ordered list item
Another item
Unordered sub-list.
Actual numbers don't matter, just that it's a number

Ordered sub-list

And another item.

You can have properly indented paragraphs within list items. Notice the blank line above, and the leading spaces (at least one, but we'll use three here to also align the raw Markdown).

To have a line break without a paragraph, you will need to use two trailing spaces.
Note that this line is separate, but within the same paragraph.
(This is contrary to the typical GFM line break behaviour, where trailing spaces are not required.)

Unordered list can use asterisks
Or minuses
Or pluses

In [11]:
print(entero)
entero = nombre
print(entero)

4
Rafael

In [7]:
#Truty - Falsy

tuplas = (1,2,3) #Arreglos que no se pueden modificar
listas = [4,5,6] #Arreglos que si se pueden modificar
diccionario = {
    "nombre":"Rafael"
}

#String
if('Rafael'): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(''): #Falsy
    print('Truty')
else:
    print('Falsy')
    
#Nulo
nulo = None
if(nulo): #Falsy
    print('Truty')
else:
    print('Falsy')
    
#Enteros
if(1): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(0): #Falsy
    print('Truty')
else:
    print('Falsy')
    
if(-1): #Truty
    print('Truty')
else:
    print('Falsy')

#Decimales
if(1.2): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(-1.5): #Truty
    print('Truty')
else:
    print('Falsy')

#Tuplas
if((1,2,3)): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(()): #Falsy
    print('Truty')
else:
    print('Falsy')
    
#Arreglos
if([1,2,3]): #Truty
    print('Truty')
else:
    print('Falsy')
    
if([]): #Falsy
    print('Truty')
else:
    print('Falsy')
    
#Diccionarios
nombre = "Rafael"
if({nombre:"Rafael"}): #Truty
    print('Truty')
else:
    print('Falsy')
    
if({}): #Falsy
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy

In [8]:
#Funciones con arreglos
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
arreglo[0:3] #[0:3[
arreglo[0:] #hasta el final
arreglo[:7] #desde el inicio
arreglo[-1] #indice negativo empieza desde el final
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:] 
arreglo[:-3]
arreglo[:] #todo el arreglo

#Tuplas
arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[5:9]

(6, 7, 8, 9)

In [30]:
#Diccionarios
diccionario = {
    "nombre":"Rafael",
    "apellido":"Vinueza",
    "sueldo":1.2
}
diccionario["nombre"]

'Rafael'

In [32]:
10 in arreglo

True

In [33]:
print(type(10 in arreglo))

<class 'bool'>

In [37]:
len(arreglo) #len uestra el tama√±o
len(arregloTupla)
len(diccionario)

3

In [38]:
"nombre" in diccionario #para diccionarios se debe trabajar con las "llaves" - "keys"

True

In [41]:
arreglo[0] = 2 #con tuplas no funciona porque son solo de lectura

In [42]:
#arreglo.pop
#arreglo.append
#arreglo.insert

In [43]:
for numeroLista in arreglo: #for in se llama
    print(numeroLista)

2
2
3
4
5
6
7
8
9
10

In [46]:
for var in diccionario:
    print(var)

nombre
apellido
sueldo

In [50]:
contador = 0
while contador < 3:
    print(contador)
    contador+= 1

0
1
2

In [51]:
#diccionarios -> "llave" - "valor"
rafael = {
    True: "Rafael",
    False: "Vinueza",
    1: 1.2,
    1.1: 89,
    'edad': 21,
    "mascotas":[{"nombre":"chester"}],
    None:None
}
#Nunca hacer ese tipo de diccionarios, funciona pero se tuesta el lenguaje
#En las llaves solo debemos poner strings

In [57]:
rafael['edad'] = 18
rafael['apellido'] = "Vinueza"
rafael['mascotas'][0]['nombre'] = "chester2"

In [58]:
rafael.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [59]:
rafael.values()

dict_values([1.2, 'Vinueza', 89, 18, [{'nombre': 'chester2'}], None, 'Vinueza'])

In [61]:
print(type(rafael.values()))

<class 'dict_values'>

In [62]:
for llave in rafael.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [63]:
1 == 1 or 2 == 2
3 != 3 and 4 != 4

False

In [6]:
arregloNumeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(arregloNumeros[-5:-2])

[5, 6, 7]